<h1>
  Welcome to Nur
</h1>

<div class="products-container">
  <% @products.each do |product| %>
    <%= link_to product_path(product), class: 'product-card' do %>
      <div class="product-name"><%= product.name %></div>
      <div class="product-price">$<%= product.price %></div>
      <div class="product-description"><%= product.description %></div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Add New Product', new_product_path, class: 'add-product' %>
