<h3>Add New Porduct</h3>
<%= simple_form_for(@product) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :product_category_id, as: :select, collection: ProductCategory.pluck(:name, :id), prompt: 'Select Category' %>
  <%= f.button :submit %>
  <% end %>

<%= link_to 'Back', products_path %>
